{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card p-5 w-50">
        <h2 class="mb-4">Edit Artikel Blog</h2>
        <form action="{% url 'update' blog.id %}" method="POST">
            {% csrf_token %}
            {{ forms.title }}
            {{ forms.deskripsi }}
            {{ forms.Category_name }}
            {{ forms.author }}
            <div class="mt-4 d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}